/*pagina index*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,300;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: Roboto, sans-serif;
    color: #777;
}

body {
    background: rgb(255, 255, 255);
}

.card {
    margin: 1%;
    width: 100%;
    height: 100%;
}


/*-- Flexbox alinha os itens pagina ofertas ofertas do dia um do lado do outro e faz a quebra de linha--*/

#conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

#conteudo>div {
    flex: 1 1 200px;
    margin: 10px;
}


/*--Alinha os itens um do lado do outro e faz a quebra de linha--*/


/*--mais vendidos--*/

#itens {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

#itens>div {
    flex: 1 1 200px;
    margin: 10px;
}


/*--mais vendidos--*/

#conteudoo {
    margin: 5%;
}

#organico {
    width: 5%;
    height: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

h6 {
    color: rgb(19, 151, 19);
    width: 4%;
    height: 4%;
    text-align: center;
    font-weight: bold;
}

.d-flex {
    width: 100%;
    margin-top: 2%;
    margin-right: 70%;
}

.categoria {
    margin-top: 2%;
    margin-left: 82%;
}

.imgg {
    max-width: 100%;
    display: block;
}

#close {
    width: 5%;
    height: 50%;
    float: left;
    margin-left: 2%;
}

#img {
    width: 100%;
    height: 100%;
}

#buttonn {
    margin-right: 20%;
}

#buttond {
    width: 20%;
    height: 20%;
    float: right;
}

.modal-header {
    background: #f7f7f7;
    color: rgb(122, 122, 122);
}

.card-img-top {
    width: 200px;
    height: 200px;
}

#botaoo {
    background: #7CFC00;
    width: 70%;
    height: 80%;
    margin-left: 3%;
}

#botaoo {
    float: right;
    margin-right: 0%;
}


/*pagina Contato*/

h2 {
    color: #1fd819;
    font-family: Lobster, sans-serif;
    margin-top: 3%;
}

.align-items-center {
    margin: 3%;
}

#drop {
    margin-left: 11%;
}

#pagamento {
    margin-left: 30%;
}

#pagamentoa {
    margin-top: 15%;
}

#coluna {
    margin-top: 16%;
}

#buttondf {
    width: 30%;
    height: 20%;
    margin-left: 20%;
}

#menu {
    width: 10%;
    height: 10%;
    margin-left: 10%;
}

#dropdownMenu2 {
    margin-left: 50%;
}

#preco {
    margin-top: 10%;
    color: rgb(51, 20, 223);
}

#p {
    margin-top: 30%;
}

#buttonds {
    float: right;
    width: 4%;
    height: 4%;
    margin-top: 10%;
    margin-right: 10%;
}

#buttondj {
    float: right;
    width: 4%;
    height: 4%;
    margin-top: 21%;
    margin-right: 15%;
}

#iddd {
    float: right;
    width: 80px;
    height: 80px;
    margin-top: 4%;
    margin-right: 40%;
}

#pagamentoo {
    float: right;
    margin-top: 30%;
    margin-right: 50%;
    width: 60%;
    height: 60%;
}

#dropf {
    margin-left: 0%;
}

#tb {
    margin-top: 10%;
}

tr {
    display: block;
    margin-right: 50%;
    margin-top: 15%;
}

#row {
    margin-top: 15%;
}

#dropdownMenuButton2ggg {
    float: right;
    margin-right: 0%;
    margin-top: 70%;
}

#inputPassword6u {
    width: 30%;
    height: 30%;
}

#ffffff {
    float: right;
}

#closef {
    float: right;
    width: 15%;
    height: 15%;
}

#closeff {
    float: right;
    width: 15%;
    height: 15%;
}

#produto {
    background-color: #f7f7f7;
}

@media (max-width: 600px) {
    #conteudo {
        display: block;
        width: 100%;
        align-items: center;
    }
    #conteudo>div {
        width: 100%;
    }
    #itens {
        display: block;
        width: 100%;
    }
    #itens>div {
        width: 100%;
    }
}

#carrinhod {
    margin-left: 0%;
}

#mgf {
    width: 100%;
    height: 100%;
}


/*modal*/

.modal-header {
    background: #f7f7f7;
    color: rgb(122, 122, 122);
}

.card-img-top {
    width: 100%;
    height: 100%;
}

#botaoo {
    background: #7CFC00;
    width: 70%;
    margin-left: 3%;
}

#botaooo {
    background: #fbfff7;
    float: right;
    margin-right: 0%;
}

#cor {
    color: rgb(129, 129, 129);
}


/*modal*/

#nav {
    background-color: rgb(255, 255, 255);
}

.btnn {
    width: 8%;
    height: 8%;
    cursor: pointer;
}

#bot {
    width: 100%;
    margin: 20%;
}